﻿<!DOCTYPE html>
<html>
<head>
    <title>Maintenance Tracker</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico">
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Edwin Cesar">
    <meta name="description" content="Easier way for me to track vehicle maintenance on  multiple vehicles">
    <meta name="keywords" content="Cars, vehicles, car maintenance, car repair">
    @Styles.Render("~/Content/default")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Vehicles", "Index", "Vehicle")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/default")
    @RenderSection("Scripts", false)
</body>
</html>
