﻿@model HandleErrorInfo

<div class="xl-mt">
    <div class="row txt c center-fold">
        <div class="fs-xxl">
            <i class="fa fa-heartbeat"></i>
        </div>
        <h1>Yup, @Model.ControllerName/@Model.ActionName died...</h1>
    </div>
    <div class="row lg-mt">
        <div class="message txt b sm-mb">@Model.Exception.Message</div>
        <div class="stacktrace jumbotron">
            <div class="text-danger fs-xs">@Model.Exception.StackTrace</div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var stack = $('.stacktrace');
                stack.hide();

                $('.message').click(function() {
                    stack.toggle('slow');
                });
            });
    </script>
}