﻿@model MaintenanceTracker.MVC.ViewModels.PartViewModel

<div class="row lg-mt part-form">
    <div class="col-sm-6">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    @Html.Label("Product Name", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", data_val = "false" })
                </div>
                <div class="col-sm-3">
                    @Html.Label("Model Number", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.ModelNumber, new { @class = "form-control", data_val = "false" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.Label("Price", new { @class = "control-label" })
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", data_val = "false" })
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    @Html.Label("Quantity", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", data_val = "false" })
                </div>
            </div>
        </div>
        <div class="row sm-mt">
            <div class="btn btn-primary" onclick="addPart()">Add Part</div>
        </div>
    </div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Product")</th>
                    <th>@Html.DisplayName("Model")</th>
                    <th>@Html.DisplayName("Price")</th>
                    <th>@Html.DisplayName("Quantity")</th>
                    <th>@Html.DisplayName("Total Cost")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="placeholder">
                    <td colspan="6">
                        <div class="fs-sm">Add a "Part" to calculate service cost.</div>
                    <td>
                </tr>
            </tbody>
        </table>
    </div>
</div>