﻿@model MaintenanceTracker.MVC.ViewModels.PartViewModel

@{
    var partTotalCost = Model.TotalCost.ToString("C");
    var id = $"part_{Model.PartId}";
}

<tr class="part-details" id="@id">
    <td>@Html.DisplayFor(model => model.ProductName)</td>
    <td>@Html.DisplayFor(model => model.ModelNumber)</td>
    <td>@Html.DisplayFor(model => model.Price)</td>
    <td>@Html.DisplayFor(model => model.Quantity)</td>
    <td>@partTotalCost</td>
    <td><i class="fa fa-trash" onclick="removePart(this)"></i></td>
</tr>

