﻿@model MaintenanceTracker.MVC.ViewModels.PartViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm(new { maintenanceId = ViewBag.MaintenanceId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row xl-mt">
        <h2>@ViewBag.Title Part</h2>
        <hr />
        <div class="container form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.Label("Product Name", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.Label("Model Number", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ModelNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ModelNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.Label("Price", new {@class = "control-label"})
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            @Html.TextBoxFor(model => model.Price, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Quantity", new {@class = "control-label"})
                        @Html.TextBoxFor(model => model.Quantity, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="row md-mt">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "Details", "Maintenance", new { id = ViewBag.MaintenanceId }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/forms")
}