﻿@model MaintenanceTracker.MVC.ViewModels.PartViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="xl-mt">
    <h3>Are you sure you want to delete this?</h3>    
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

        <dt>@Html.DisplayNameFor(model => model.ModelNumber)</dt>
        <dd>@Html.DisplayFor(model => model.ModelNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.Quantity)</dt>
        <dd>@Html.DisplayFor(model => model.Quantity)</dd>

        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
    </dl>

    @using (Html.BeginForm(new { maintenanceId = ViewBag.MaintenanceId }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning"/>
            @Html.ActionLink("Back to Details", "Details", "Maintenance", new { id = ViewBag.MaintenanceId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
