﻿@model MaintenanceTracker.MVC.ViewModels.VehicleViewModel

@{
    var lowMileage = Model.CurrentMileage < 30000;
    var recentPurchase =  Model.DatePurchased > DateTime.Now.AddMonths(-6);
}

<tr>
    <td colspan="5">
        <div class="row txt c md-mt">
            @if (lowMileage && recentPurchase)
            {
                <h2>Must be nice not having to do any maintenance yet, huh?</h2>
            }
            else
            {
                <h2>No maintenance yet? Might want to fix that.</h2>
            }
        </div>
    </td>
</tr>