﻿@using MaintenanceTracker.MVC.ViewModels
@model MaintenanceViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm(new { vehicleId = ViewBag.VehicleId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row xl-mt">
        <h2>@ViewBag.Title Maintenance</h2>
        <div class="container form-horizontal">
            @Html.Partial("~/Views/Part/_PartFields.cshtml", new PartViewModel())
            <div class="row lg-mt">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.Label("Date", new {@class = "control-label"})
                                <div class="input-group date" id="datepicker">
                                    <input name="DateOfService" class="form-control" placeholder="MM/DD/YYYY" type="text"/>
                                    @Html.ValidationMessageFor(model => model.DateOfService, "", new {@class = "text-danger"})
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                @Html.Label("Mileage", new {@class = "control-label"})
                                @Html.TextBoxFor(model => model.Mileage, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Mileage, "", new {@class = "text-danger"})
                            </div>
                            <div class="col-sm-3">
                                @Html.Label("Cost", new {@class = "control-label"})
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-9">
                                @Html.Label("Description", new {@class = "control-label"})
                                @Html.TextAreaFor(model => model.Description, new {@class = "form-control", @rows = 2})
                                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row md-mt">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" value="Create" class="btn btn-success"/>
                    @Html.ActionLink("Cancel", "Details", "Vehicle", new {id = ViewBag.VehicleId}, new {@class = "btn btn-default"})
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/forms")
    @Scripts.Render("~/Scripts/maintenance-form.js")
}