﻿@model MaintenanceTracker.MVC.ViewModels.MaintenanceViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="xl-mt">
    <h3>Are you sure you want to delete this?</h3>    
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DateOfService)</dt>
        <dd>@Html.DisplayFor(model => model.DateOfService)</dd>

        <dt>@Html.DisplayNameFor(model => model.Mileage)</dt>
        <dd>@Html.DisplayFor(model => model.Mileage)</dd>

        <dt>@Html.DisplayNameFor(model => model.Cost)</dt>
        <dd>@Html.DisplayFor(model => model.Cost)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
    <div class="row">
        <div class="col-sm-5">
            <ul class="list-group sm-mt">
                @if (Model.Parts != null && Model.Parts.Any())
            {
                foreach (var part in Model.Parts)
                {
                    var partCost = $"{part.Price * part.Quantity:C}";

                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(p => partCost)</span>
                            @Html.DisplayFor(p => part.Description)
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning"/>
            @Html.ActionLink("Back to Details", "Details", "Vehicle", new { id = Model.VehicleId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
