﻿@model MaintenanceTracker.MVC.ViewModels.MaintenanceViewModel

@{
    ViewBag.Title = "Details";
    var hasParts = Model.Parts != null && Model.Parts.Any();
}

<div class="row xl-mt">
    <h4>
        @ViewBag.Title for Maintenance
        @if (hasParts)
        {
            <span>(including @Model.Parts.Count Parts)</span>
        }
        else
        {
            <span>(without any Parts)</span>
        }
    </h4>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.DateOfService)</dt>
                <dd>@Html.DisplayFor(model => model.DateOfService)</dd>

                <dt>@Html.DisplayNameFor(model => model.Mileage)</dt>
                <dd>@Html.DisplayFor(model => model.Mileage)</dd>

                <dt>@Html.DisplayNameFor(model => model.Cost)</dt>
                <dd>@Html.DisplayFor(model => model.Cost)</dd>

                <dt>@Html.DisplayNameFor(model => model.TotalCost)</dt>
                <dd>@Html.DisplayFor(model => model.TotalCost)</dd>

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>
            </dl>
        </div>
        <div class="col-sm-7 col-sm-offset-2">
            <div class="row sm-mb">
                @Html.ActionLink("Add Part", "Create", "Part", new { maintenanceId = Model.MaintenanceId }, new { @class = "btn btn-primary" })
            </div>
            <div class="row">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayName("Description")</th>
                        <th>@Html.DisplayName("Model #")</th>
                        <th>@Html.DisplayName("Price")</th>
                        <th>@Html.DisplayName("Quantity")</th>
                        <th></th>
                    </tr>

                    @if (hasParts)
                    {
                        foreach (var item in Model.Parts)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.ModelNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Part", new {maintenanceId = Model.MaintenanceId, id = item.Id})"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Part", new {maintenanceId = Model.MaintenanceId, id = item.Id})"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaintenanceId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Vehicle", "Details", "Vehicle", new { id = Model.VehicleId }, new { @class = "btn btn-default" })
</p>
