﻿@model MaintenanceTracker.MVC.ViewModels.MaintenanceViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row xl-mt">
        <h4>@ViewBag.Title Maintenance</h4>
        <hr />
        <div class="container form-horizontal">
            @Html.HiddenFor(model => model.MaintenanceId)
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.Label("Date Purchased", new {@class = "control-label"})
                        <div class="input-group date" id="datepicker">
                            @Html.TextBoxFor(model => model.DateOfService, new {@class = "form-control", @Value = Model.DateOfService.ToString("MM/dd/yyyy"), @placeholder = "MM/DD/YYYY"})
                            @Html.ValidationMessageFor(model => model.DateOfService, "", new {@class = "text-danger"})
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.Mileage, new {@class = "control-label"})
                        @Html.EditorFor(model => model.Mileage, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Mileage, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-sm-3">
                        @Html.Label("Cost", new {@class = "control-label"})
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            @Html.TextBoxFor(model => model.Cost, new {@class = "form-control", @readonly = "readonly"})
                            @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-9">
                        @Html.Label("Description", new {@class = "control-label"})
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control", @rows = 2})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <div class="row md-mt">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Details", "Vehicle", new { id = Model.VehicleId }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/forms")

    <script type="text/javascript">
        $(function() {
            $('#datepicker').datepicker();
        });
    </script>
}