﻿@{
    ViewBag.Title = "Home Page";
}

<div class="xl-mt txt-c">
    <div class="row center-fold">
        <div class="fs-xxl">
            <i class="fa fa-car"></i>
        </div>
        <h1>Vehicle Maintenance Tracker</h1>
    </div>
    <div class="row lg-mt">
        @Html.ActionLink("Create Vehicle", "Create", "Vehicle", null, new { @class = "btn wide btn-primary" })
        @Html.ActionLink("View Vehicles", "Index", "Vehicle", null, new { @class = "btn wide btn-primary" })
    </div>
</div>