﻿/*  Common -------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    min-height:100%;

    -webkit-font-smoothing:antialiased;
}

.txt-c {
    text-align: center;
}

.body-content {
    margin-left:auto;
    margin-right:auto;
}

tr.standard-details {
    line-height: 2;
    vertical-align: middle !important;
}

.standard-detials td {
    vertical-align: middle !important;
}

.extra-details span {
    clear: left;
    float: left;
    margin-left: 150px;
}

/*  Misc -------------------- */
.btn.wide {
    margin:5px;
    width:250px;
    line-height:3em;
    font-size:16px;
}

.center-fold h1 {
    margin-top:0;
    margin-bottom:25px;
}

.message:hover {
    cursor: pointer;
}

tr.part-details > td > .fa:hover {
    cursor: pointer;   
}

/*  Fonts -------------------- */
.fs-xs {
    font-size:12px;
}
    .fs-sm {
        font-size:24px;
    }
    .fs-md {
        font-size:48px;
    }
    .fs-lg {
        font-size:72px;
    }
    .fs-xl {
        font-size:96px;
    }
    .fs-xxl {
        font-size:108px;
    }
    .fs-xxxl {
        font-size:156px;
    }

.txt.c {
    text-align: center;
}
    .txt.b {
        font-weight: bold;
    }
    .txt.l {
        text-align: left;
    }
    .txt.r {
        text-align: right;
    }

/*  Margin and Padding -------------------- */
.sm-mt {
    margin-top:12px;
}
    .md-mt {
        margin-top:24px;
    }
    .lg-mt {
        margin-top:48px;
    }
    .xl-mt {
        margin-top:72px;
    }
.sm-mb {
    margin-bottom:12px;
}
    .md-mb {
        margin-bottom:24px;
    }
    .lg-mb {
        margin-bottom:48px;
    }
    .xl-mb {
        margin-bottom:72px;
    }
.sm-mr {
    margin-right:12px;
}
    .md-mr {
        margin-right:24px;
    }
    .lg-mr {
        margin-right:48px;
    }
    .xl-mr {
        margin-right:72px;
    }
.sm-ml {
    margin-left:12px;
}
    .md-ml {
        margin-left:24px;
    }
    .lg-ml {
        margin-left:48px;
    }
    .xl-ml {
        margin-left:72px;
    }
.xs-pb {
    padding-bottom:12px;
}
    .sm-pb {
        padding-bottom:24px;
    }
    .md-pb {
        padding-bottom:48px;
    }
.xs-pt {
    padding-top:12px;
}
    .sm-pt {
        padding-top:24px;
    }
    .md-pt {
        padding-top:48px;
    }
    .lg-pt {
        padding-top:72px;
    }
    .xl-pt {
        padding-top:96px;
    }

/*  Bootstrap Fixes -------------------- */
.container {
    padding:0;
    width:100%;
}

#datepicker > span:hover {
    cursor: pointer;
}

/* Media Queries -------------------- */
@media(min-width:1200px) {
    .container {
        max-width:100%;
    }
    .body-content {
        min-height:800px;
        width:85%;
    }
}

@media(min-width:1920px) {
    .container {
        max-width:95%;
    }
    .body-content {
        width:85%;
        min-height:1000px;
    }
}