﻿@model MaintenanceTracker.MVC.ViewModels.VehicleViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row xl-mt">
        <h2>@ViewBag.Title Vehicle</h2>
        <hr/>
        <div class="container form-horizontal">
            @* VIN and License Plate # *@
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.Label("VIN", new {@class = "control-label"})
                        @Html.TextBoxFor(model => model.VIN, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.VIN, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("License Plate", new {@class = "control-label"})
                        @Html.TextBoxFor(model => model.LicensePlate, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.LicensePlate, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            @* Year, Make, and Model *@
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.Label("Year", new {@class = "control-label"})
                        @Html.DropDownListFor(model => model.Year,  new SelectList(Model.Years), "Year", new { @class = "form-control", id = "years" })
                        @Html.ValidationMessageFor(model => model.Year, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Make", new {@class = "control-label"})
                        @Html.DropDownListFor(model => model.Make, new SelectList(Model.Makes, "Description", "Description"), "Make", new { @class = "form-control", id = "makes" })
                        @Html.ValidationMessageFor(model => model.Make, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Model", new {@class = "control-label"})
                        @Html.DropDownListFor(model => model.Model, Enumerable.Empty<SelectListItem>(), "Model", new { @class = "form-control", id = "models" })
                        @Html.ValidationMessageFor(model => model.Model, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            @* Purchase Date and Purchase Price *@
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.Label("Date Purchased", new { @class = "control-label" })
                        <div class="input-group date" id="datepicker">
                            <input name="DatePurchased" class="form-control" placeholder="MM/DD/YYYY" type="text"/>
                            @Html.ValidationMessageFor(model => model.DatePurchased, "", new { @class = "text-danger" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        @Html.Label("Purchase Price", new {@class = "control-label"})
                        @Html.TextBoxFor(model => model.PriceAtPurchase, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.PriceAtPurchase, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            @* Purchase Mileage and Current Mileage *@
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.Label("Purchase Mileage", new {@class = "control-label"})
                        @Html.TextBoxFor(model => model.MileageAtPurchase, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.MileageAtPurchase, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Current Mileage", new {@class = "control-label"})
                        @Html.TextBoxFor(model => model.CurrentMileage, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.CurrentMileage, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <div class="row md-mt">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" value="Create" class="btn btn-success"/>
                    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/forms"),
    @Scripts.Render("~/Scripts/vehicle-form.js")
    
    <script type="text/javascript">
        $(function () {
            $('#makes, #models').prop('disabled', true);

            years.on('change', {
                dependents: [makes, models],
                pickFirst: true
            }, validateChange);

            makes.on('change', {
                dependents: [models],
                callback: function (sv, i) {
                    console.log("Selected value: " + sv);
                    $.post('/Vehicle/GetModelsForMake', { 'make': sv }, function (result) {
                        console.log(result);
                        models.empty();
                        models.append($('<option />').val('').text('Model'));
                        $.each(result.models, function (i, model) {
                            models.append($('<option />').val(model).text(model));
                        });
                    });
                }
            }, validateChange);
        });
    </script>
}