﻿@model MaintenanceTracker.MVC.ViewModels.VehicleViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="xl-mt">
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.VIN)</dt>
        <dd>@Html.DisplayFor(model => model.VIN)</dd>

        <dt>@Html.DisplayNameFor(model => model.LicensePlate)</dt>
        <dd>@Html.DisplayFor(model => model.LicensePlate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Year)</dt>
        <dd>@Html.DisplayFor(model => model.Year)</dd>

        <dt>@Html.DisplayNameFor(model => model.DatePurchased)</dt>
        <dd>@Html.DisplayFor(model => model.DatePurchased)</dd>

        <dt>@Html.DisplayNameFor(model => model.PriceAtPurchase)</dt>
        <dd>@Html.DisplayFor(model => model.PriceAtPurchase)</dd>

        <dt>@Html.DisplayNameFor(model => model.MileageAtPurchase)</dt>
        <dd>@Html.DisplayFor(model => model.MileageAtPurchase)</dd>

        <dt>@Html.DisplayNameFor(model => model.CurrentMileage)</dt>
        <dd>@Html.DisplayFor(model => model.CurrentMileage)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
