﻿@using MaintenanceTracker.MVC.ViewModels
@model VehicleViewModel

@{
    ViewBag.Title = "Details";
    var hasServices = Model.Services.Count > 0;
}

<div class="row xl-mt">
    <h3>@ViewBag.Title for @Model.Year @Model.Make @Model.Model</h3>
    <hr />
    <div class="col-sm-3">
        <div class="row">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.VIN)</dt>
                <dd>@Html.DisplayFor(model => model.VIN)</dd>

                <dt>@Html.DisplayNameFor(model => model.LicensePlate)</dt>
                <dd>@Html.DisplayFor(model => model.LicensePlate)</dd>

                <dt>@Html.DisplayNameFor(model => model.Year)</dt>
                <dd>@Html.DisplayFor(model => model.Year)</dd>

                <dt>@Html.DisplayNameFor(model => model.Make)</dt>
                <dd>@Html.DisplayFor(model => model.Make)</dd>

                <dt>@Html.DisplayNameFor(model => model.Model)</dt>
                <dd>@Html.DisplayFor(model => model.Model)</dd>

                <dt>@Html.DisplayNameFor(model => model.CurrentMileage)</dt>
                <dd>@Html.DisplayFor(model => model.CurrentMileage)</dd>

                <dt>@Html.DisplayNameFor(model => model.PriceAtPurchase)</dt>
                <dd>@Html.DisplayFor(model => model.PriceAtPurchase)</dd>

                <dt>@Html.DisplayNameFor(model => model.DatePurchased)</dt>
                <dd>@Html.DisplayFor(model => model.DatePurchased)</dd>

                <dt>@Html.DisplayNameFor(model => model.MileageAtPurchase)</dt>
                <dd>@Html.DisplayFor(model => model.MileageAtPurchase)</dd>
            </dl>
        </div>
        <div class="row md-mt">
            @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("View Vehicles", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="col-sm-7 col-sm-offset-2">
        <div class="row sm-mb">
            @Html.ActionLink("Add Service", "Create", "Maintenance", new { vehicleId = Model.VehicleId }, new { @class = "btn btn-primary" })
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayName("Date")</th>
                        <th>@Html.DisplayName("Mileage")</th>
                        <th>@Html.DisplayName("Cost")</th>
                        <th>@Html.DisplayName("Description")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (hasServices)
                    {
                        foreach (var item in Model.Services)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DateOfService)</td>
                                <td>@Html.DisplayFor(modelItem => item.Mileage)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Maintenance", new {id = item.Id})"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", "Maintenance", new {id = item.Id})"><i class="fa fa-list"></i></a>
                                    <a href="@Url.Action("Delete", "Maintenance", new {id = item.Id})"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @Html.Partial("~/Views/Maintenance/_NoneFound.cshtml", @Model)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
