﻿@model IEnumerable<MaintenanceTracker.MVC.ViewModels.VehicleViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container xl-mt">
    <div class="row md-mt sm-mb">
        <div class="col-sm-2">
            @Html.ActionLink("Create Vehicle", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered txt c">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayName("Year")</th>
                    <th>@Html.DisplayName("Make")</th>
                    <th>@Html.DisplayName("Model")</th>
                    <th>@Html.DisplayName("Purchase Price")</th>
                    <th>@Html.DisplayName("Current Mileage")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="standard-details">
                        <td>
                            <div class="btn btn-default">
                                <i class="fa fa-plus"></i>
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.Make)</td>
                        <td>@Html.DisplayFor(modelItem => item.Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.PriceAtPurchase)</td>
                        <td>@Html.DisplayFor(modelItem => item.CurrentMileage)</td>
                        <td>
                            <a href="@Url.Action("Edit", "Vehicle", new { id = item.VehicleId })"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("Details", "Vehicle", new { id = item.VehicleId })"><i class="fa fa-list"></i></a>
                            <a href="@Url.Action("Delete", "Vehicle", new { id = item.VehicleId })"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr class="extra-details">
                        <td colspan="8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><b>VIN</b>: @Html.DisplayFor(modelItem => item.VIN)</span>
                                    <span><b>License Plate</b>: @Html.DisplayFor(modelItem => item.LicensePlate)</span>
                                    <span><b>Purchase Date</b>: @Html.DisplayFor(modelItem => item.DatePurchased)</span>
                                    <span><b>Price at Purchase</b>: @Html.DisplayFor(modelItem => item.PriceAtPurchase)</span>
                                    <span><b>Miles at Purchase</b>: @Html.DisplayFor(modelItem => item.MileageAtPurchase)</span>
                                </div>
                                <div class="col-sm-3 txt c">
                                    Total Cost of Services:
                                    <div class="fs-md">$@item.TotalServiceCosts</div>
                                </div>
                                <div class="col-sm-2 txt c">
                                    <div class="fs-md">@item.NumberOfServices</div>
                                    Services have been performed
                                </div>
                                <div class="col-sm-2 txt c col-sm-offset-1">
                                    Miles driven so far:<br/>
                                    <h1>@item.MilesDriven</h1>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.extra-details').children().hide();

            $('.btn-default').click(function () {
                var btn = $(this).children('.fa');
                var details = $(this).parent().parent().next('.extra-details').children();

                if (details.css('display') === 'none') {
                    details.slideDown('slow', function () {
                        btn.removeClass('fa-plus').addClass('fa-minus');
                    });
                } else {
                    details.slideUp('slow', function () {
                        btn.removeClass('fa-minus').addClass('fa-plus');
                    });
                }
            });
        });
    </script>
}
